<section>
  <div class="container">
    <div class="text-center mb-3">
      <h2>ข้อมูล อทบ. ส่วนบุคคล</h2>
    </div>
    <div class="row mt-5 justify-content-center">
      <div class="col-12 col-sm-12 col-md-4 col-lg-4 col-xl-4 text-center">
        <div class="">
          <img src="img/profile/noimage.gif" class="img-fluid pb-3" />
          <h5>จ.ส.อ. สมหมาย สายดี</h5>
          <p>สก.ทบ.</p>
        </div>
        <div class="d-none d-md-block mt-4">
          <div class="text-info mb-2">แก้ไขข้อมูลส่วนบุคคล</div>
          <div class="text-danger">ออกจากระบบ</div>
        </div>
        <div class="row d-none d-md-block">
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3"></div>
          <div class="col-3"></div>
        </div>
      </div>
      <div
        class="col-12 col-sm-12 col-md-9 col-lg-6 col-xl-5 text-center text-sm-start">
        <div class="mb-3"><h6>ข้อมูลประจำเดือน มกราคม 2566</h6></div>
        <div class="border border-2 border-secondary opacity-25"></div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6">เงินฝาก อทบ.</div>
          <div class="col-12 col-sm-6 text-sm-end">
            19,993.33 บาท<br />
            <button
              class="btn btn-link text-decoration-none btn-sm btn-outline-info">
              รายละเอียด
            </button>
          </div>
        </div>
        <div class="border border-2 border-secondary opacity-25"></div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6">เงินกู้ อทบ. บำบัดทุกข์</div>
          <div class="col-12 col-sm-6 text-sm-end">
            10,993.33 บาท<br />
            <button
              class="btn btn-link text-decoration-none btn-sm btn-outline-info">
              รายละเอียด
            </button>
          </div>
        </div>
        <div class="border border-2 border-secondary opacity-25"></div>
        <div class="row mt-2">
          <div class="col-12 col-sm-6">เงินกู้ อทบ. เคหะสงเคราะห์</div>
          <div class="col-12 col-sm-6 text-sm-end">
            1,919,993.33 บาท<br />
            <button
              class="btn btn-link text-decoration-none btn-sm btn-outline-info">
              รายละเอียด
            </button>
          </div>
        </div>
        <div class="border border-2 border-secondary opacity-25"></div>
      </div>
    </div>
  </div>
</section>
